:root {
  --teal50: #e0f2f1;
  --teal100: #b2dfdb;
  --teal200: #80cbc4;
  --teal300: #4db6ac;
  --teal400: #26a69a;
  --teal500: #009688;
  --teal600: #00897b;
  --teal700: #00796b;
  --teal800: #00695c;
  --teal900: #004d40;
  --orange50: #fff3e0;
  --orange100: #ffe0b2;
  --orange200: #ffcc80;
  --orange300: #ffb74d;
  --orange400: #ffa726;
  --orange500: #ff9800;
  --orange600: #fb8c00;
  --orange700: #f57c00;
  --orange800: #ef6c00;
  --orange900: #e65100;
  --grey50: #fafafa;
  --grey100: #f5f5f5;
  --grey200: #eeeeee;
  --grey300: #e0e0e0;
  --grey400: #bdbdbd;
  --grey500: #9e9e9e;
  --grey600: #757575;
  --grey700: #616161;
  --grey800: #424242;
  --grey900: #212121;
}
