@use "./grid.scss";
@use "./color";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--grey50);
  font-family: var(--dm_sans);
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: black;
}

p,
span {
  margin: 0;
  padding: 0;
  color: black;
}

ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}
