nav.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--grey50);
  border-top: 1px solid rgba(0, 0, 0, 0.2);

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    padding-top: 4px;

    li {
      display: block;

      a {
        display: flex;
        flex-direction: column;
        align-items: center;

        .link-label {
          font-size: 0.8rem;
          font-weight: bold;
          color: var(--teal900);
        }
      }
    }
  }
}
